# Project - Acquire and Prepare Data from Web

![Data Science Workflow](img/ds-workflow.png)

## Goal of Project
- This project will focus on Step 1 and 2 (**Acquire** and **Prepare**)
- We will read raw data that needs Data Wrangling to prepare
- The process we follow demonstrates how a Data Scientist works

## Step 1: Acquire
- Explore problem
- Identify data
- Import data

### Step 1.a: Import libraries
- Execute the cell below (SHIFT + ENTER)

In [1]:
import pandas as pd

### Step 1.b: Retrieve/Read the data
- There are two options to get data
#### Option 1: Directly from wikipedia
- Assign variable ```url = "https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics"```
- Retrieving the data 
- Assigning the first DataFrame to a variable

In [2]:
url = "https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics"

In [3]:
tables = pd.read_html(url)

In [4]:
type(tables)

list

In [5]:
tables[0].head()

      Year Source        Revenue       Expenses    Asset rise   Total assets
0  2021/22    PDF  $ 154,686,521  $ 145,970,915   $ 8,173,996  $ 239,351,532
1  2020/21    PDF  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
2  2019/20    PDF  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
3  2018/19    PDF  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
4  2017/18    PDF  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570

## Step 2: Prepare
- Explore data
- Visualize ideas
- Cleaning data

### Step 2.a: Check the data types
- This step demonstrates how to identify if a numeric column is incorrectly represented as non-numeric.

In [6]:
fundraising = tables[0]

In [7]:
fundraising.dtypes

Year            object
Source          object
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
dtype: object

### Step 2.b: Check for null (missing) values
- Sometimes often is missing entries - for multiple reasons

In [8]:
fundraising.isna().any()

Year            False
Source          False
Revenue         False
Expenses        False
Asset rise      False
Total assets    False
dtype: bool

### Step 2.c: Delete Source Column
- The Column Source adds no value for further investigations

In [13]:
fundraising = tables[0].drop('Source', axis=1)

In [14]:
fundraising.head()

      Year        Revenue       Expenses    Asset rise   Total assets
0  2021/22  $ 154,686,521  $ 145,970,915   $ 8,173,996  $ 239,351,532
1  2020/21  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
2  2019/20  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
3  2018/19  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
4  2017/18  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570

### Step 2.d: Convert Year column to numeric
- All the strings in years are formatted: 'YYYY/YYYY'
- To get the last year as string: ```data['Year'].str[-4:]```
- To convert that to numeric use: ```pd.to_numeric(...)```
    - HINT: You can assign the column directly

In [21]:
fundraising['Year'] = fundraising['Year'].str[-2:]
fundraising.head()

  Year        Revenue       Expenses    Asset rise   Total assets
0   22  $ 154,686,521  $ 145,970,915   $ 8,173,996  $ 239,351,532
1   21  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
2   20  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
3   19  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
4   18  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570

In [26]:
fundraising['Year'] = pd.to_numeric(fundraising['Year'])
fundraising.dtypes

Year             int64
Revenue         object
Expenses        object
Asset rise      object
Total assets    object
dtype: object

### Step 2.e: Set Year to index
- To change a column to be the index use: ```data.set_index('Year', inplace=True)```
- Also sort the index in correct order: ```data.sort_index(inplace=True)```

### Step 2.f: Convert the remaining columns to numeric
- Remember the steps from the lesson
    - ```.str[2:]``` to remove the first two characters ('\$ ')
    - ```.str.replace(',', '')``` to remove commas
    - ```pd.to_numeric(...)``` converts string (containing well-formed number) to the numeric value
- Try to do it directly column by column

### Step 2.g: Visualize data to investigate quality
- Make a simple plot of **Revenue**, **Expenses** and **Total assets**
- This will help you spot any outliers

### Step 2.h: Visualize data to investigate quality
- Make a simple plot of **Asset rise**
- This will help you spot any outliers