# Project - Statistical Performance Indicators (SPI)

![Data Science Workflow](img/ds-workflow.png)

## Goal of Project
- What can Statistical Performance Indicators (SPI) tells us?
- Investigate regional SPI score
- SPI correlation with GDP per capita

## Step 1: Acquire
- Explore problem
- Identify data
- Import data

### Step 1.a: Explore the problem
- [Read about the SPI on World Bank](https://www.worldbank.org/en/programs/statistical-performance-indicators/about-spi)
-  The Statistical Performance Index (SPI) is a tool used to evaluate the effectiveness of national statistical systems. The SPI assesses the use of data, quality of services, coverage of topics, sources of information, infrastructure, and availability of resources. 
- The ultimate objective of SPI is to improve development outcomes and track progress towards the Sustainable Development Goals (SDGs). By identifying areas of improvement, the SPI can help countries optimize their statistical systems and ensure data-driven decision-making for more sustainable and inclusive development.

Questions to consider:
- Could there be regional differences on SPI?
- Do we expect SPI to be correlated to GDP per capita?

### Step 1.b: Identify and download data
- The World bank has data for SPI and GDP per capita:
        - [SPI](https://data.worldbank.org/indicator/IQ.SPI.OVRL)
        - [GDP per capita](https://data.worldbank.org/indicator/NY.GDP.PCAP.CD)

### Step 1.c: Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Step 1.d: Read SPI data

In [19]:
spi = pd.read_csv('files/SPI/API_IQ.SPI.OVRL_DS2_en_csv_v2_3186678.csv', skiprows=4)
meta = pd.read_csv('files/SPI/Metadata_Country_API_IQ.SPI.OVRL_DS2_en_csv_v2_3186678.csv')
gdp = pd.read_csv('files/SPI/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_3159040.csv', skiprows = 4)

### Step 1.e: Inspect the data

In [7]:
spi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,Statistical performance indicators (SPI): Over...,IQ.SPI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Statistical performance indicators (SPI): Over...,IQ.SPI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Statistical performance indicators (SPI): Over...,IQ.SPI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,37.222917,42.577917,49.845000,49.756250,NaN,NaN
3,Africa Western and Central,AFW,Statistical performance indicators (SPI): Over...,IQ.SPI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Statistical performance indicators (SPI): Over...,IQ.SPI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,43.735417,46.689583,55.232083,54.945833,NaN,NaN

In [20]:
meta.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN

In [11]:
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24712.493263,26441.619936,26893.011506,28396.908423,28452.170615,29350.805019,30253.279358,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,147.836769,147.238537,156.426780,182.521139,162.594548,180.489043,...,1672.363658,1653.188436,1658.650062,1507.800256,1404.953164,1540.232473,1534.171767,1485.307425,1330.140232,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,...,641.871438,637.165464,613.856505,578.466353,509.220100,519.888913,493.756581,507.103392,508.808409,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,107.963779,113.114697,118.865837,123.478967,131.892939,138.566819,...,1936.390962,2123.392433,2166.743309,1886.248158,1666.422406,1606.978332,1695.959215,1772.339155,1714.426800,NaN
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1895.770869,NaN

## Step 2: Prepare
- Explore data
- Visualize ideas
- Cleaning data

### Step 2.a: Remove columns

In [37]:
spi = spi.loc[:, ['Country Code', '2019']]
spi.head()

  Country Code       2019
2          AFG  49.756250
4          AGO  54.945833
5          ALB  75.382917
8          ARE  59.669167
9          ARG  64.595833

In [38]:
gdp = gdp.loc[:, ['Country Code', '2019']]
gdp.head()

  Country Code         2019
1          AFE  1485.307425
2          AFG   507.103392
3          AFW  1772.339155
4          AGO  2809.626088
5          ALB  5355.847795

In [36]:
meta = meta.loc[:,['Country Code', 'Region']]
meta.head()

  Country Code                     Region
0          ABW  Latin America & Caribbean
1          AFE                        NaN
2          AFG                 South Asia
3          AFW                        NaN
4          AGO         Sub-Saharan Africa

### Step 2.b: Check for null (missing) values

In [41]:
print(meta.isnull().sum())

Country Code     0
Region          48
dtype: int64

In [39]:
print(spi.isnull().sum())

Country Code    0
2019            0
dtype: int64

In [40]:
print(gdp.isnull().sum())

Country Code    0
2019            0
dtype: int64

### Step 2.c: Drop rows
- In `spi` and `gdp` remove missing data

In [42]:
spi.dropna(inplace=True)
spi.head()

  Country Code       2019
2          AFG  49.756250
4          AGO  54.945833
5          ALB  75.382917
8          ARE  59.669167
9          ARG  64.595833

In [43]:
gdp.dropna(inplace=True)
gdp.head()

  Country Code         2019
1          AFE  1485.307425
2          AFG   507.103392
3          AFW  1772.339155
4          AGO  2809.626088
5          ALB  5355.847795

### Step 2.d: Rename columns
- Rename `2019` to `SPI` in `spi`
- Rename `2019` to `GDP per capita` in `gdp`

In [45]:
spi = spi.rename(columns={'2019': 'SPI'})
spi.head()

  Country Code        SPI
2          AFG  49.756250
4          AGO  54.945833
5          ALB  75.382917
8          ARE  59.669167
9          ARG  64.595833

In [47]:
gdp = gdp.rename(columns={'2019': 'GDP'})
gdp.head()

  Country Code          GDP
1          AFE  1485.307425
2          AFG   507.103392
3          AFW  1772.339155
4          AGO  2809.626088
5          ALB  5355.847795

### Step 2.e: Merge data
- Use `merge` on `spi` with `gdp`
- Use `merge` on `dataset` with `meta`

In [54]:
dataset = spi.merge(gdp, how='inner', on='Country Code')
dataset.head()

  Country Code        SPI           GDP
0          AFG  49.756250    507.103392
1          AGO  54.945833   2809.626088
2          ALB  75.382917   5355.847795
3          ARE  59.669167  43103.336293
4          ARG  64.595833   9912.281809

In [53]:
dataset = dataset.merge(meta, how='inner', on='Country Code')
dataset.head()

,Country Code,SPI,GDP,Region_x,Region_y
0,AFG,49.756250,507.103392,South Asia,South Asia
1,AGO,54.945833,2809.626088,Sub-Saharan Africa,Sub-Saharan Africa
2,ALB,75.382917,5355.847795,Europe & Central Asia,Europe & Central Asia
3,ARE,59.669167,43103.336293,Middle East & North Africa,Middle East & North Africa
4,ARG,64.595833,9912.281809,Latin America & Caribbean,Latin America & Caribbean

## Step 3: Analyze
- Feature selection
- Model selection
- Analyze data

### Step 3.a: Visualize regional SPI
- Use `groupby(.)` on `Region` with `mean()`
- Create a bar plot on the mean SPI value

### Step 3.b: Scatter plot SPI and GDP
- Create a scatter plot of `GDP per capita` on x-axis and `SPI` on y-axis.
- Try with logarithmic scale (add `logx=True` as argument.

## Step 4: Report
- Present findings
- Visualize results
- Credibility counts

### Step 4.a: Sort and make horizontal bar plot
- This will get you started in creating a plot
- Take the regional plot and sort it.
    - HINT: use `.sort_values(ascending=False)`
- Make the plot horizontal
    - HINT: use `.plot.barh()`
- Experiement further to find the plot you like

### Step 4.b: Add colors to regional plot
- Create a series of the colors based on the regional categories.
    - HINT: Use `factorize()` and assign the first index ([docs](https://pandas.pydata.org/docs/reference/api/pandas.factorize.html)).
- Make a color mapping in the scatter plot
    - HINT: Use argument `c=colors` (assuming you assigned the factorize result to `colors`
- Try to change color maps
    - HINT: Use `cmap='tab10'` (see other color maps in [docs](https://matplotlib.org/stable/tutorials/colors/colormaps.html))
- Play around until you get the plot you like

## Step 5: Actions
- Use insights
- Measure impact
- Main goal

### Step 5.a: Insights
- Any insights?
- Actions we need to do?
- How to measure it?