In [10]:
import pandas as pd
import numpy as np

## Querreying a series in pandas

In [11]:
class_code = {99: 'Physics',
              100: 'Chemistry',
              101: 'English',
              102: 'History'}
s = pd.Series(class_code)

In [12]:
s[99]

'Physics'

In [13]:
grades = pd.Series([90, 80, 70, 60])

total = 0
for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [15]:
total = np.sum(grades)
print(total/len(grades))

75.0

In [16]:
numbers = pd.Series(np.random.randint(0,1000,10000))
numbers.head()

0    271
1    325
2    683
3    700
4     19
dtype: int64

In [17]:
len(numbers)

10000

In [18]:
%%timeit -n 100
total = 0
for number in numbers:
    total+=number

total/len(numbers)

791 µs ± 111 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [24]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

44.1 µs ± 6.63 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Vectorization results in faster runtimes

In [25]:
%%timeit -n 10
# create a blank new series of items to deal with
s = pd.Series(np.random.randint(0,1000,1000))
# rewrite loop from above.
for label, value in s.iteritems():
    s.loc[label]= value+2

<magic-timeit>:4: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.

29.3 ms ± 1.07 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [26]:
%%timeit -n 10

s = pd.Series(np.random.randint(0,1000,1000))

s+=2

125 µs ± 20.8 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

## DataFrame Indexing with CSV

In [30]:
df = pd.read_csv('datasets/Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [31]:
df = pd.read_csv('datasets/Admission_Predict.csv', index_col=0)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [32]:
new_df=df.rename(columns={'GRE Score':'GRE Score', 'TOEFL Score':'TOEFL Score',
                   'University Rating':'University Rating', 
                   'SOP': 'Statement of Purpose','LOR': 'Letter of Recommendation',
                   'CGPA':'CGPA', 'Research':'Research',
                   'Chance of Admit':'Chance of Admit'})
new_df.head()

,GRE Score,TOEFL Score,University Rating,Statement of Purpose,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [36]:
#LOR has not been changed
new_df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'Statement of Purpose',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [37]:
new_df=new_df.rename(columns={'LOR ': 'Letter of Recommendation'})
new_df.head()

,GRE Score,TOEFL Score,University Rating,Statement of Purpose,Letter of Recommendation,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [38]:
new_df=new_df.rename(mapper=str.strip, axis='columns')
new_df.head()

,GRE Score,TOEFL Score,University Rating,Statement of Purpose,Letter of Recommendation,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [39]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')